In [1]:
# Import libraries

import pandas as pd
from lightweight_charts import Chart
import zipfile
import os
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Read data from my backtest file as csv or zip OHLC de mi data oanda

m1_data_path = "US100_M1_202403110100_202403192359.csv"
m5_data_path = "US100_M5_202403110100_202403192355.csv"

Function to clean and prepare data

In [44]:
def prep_data(csv_path):
    df= pd.read_csv(csv_path, sep='\s+')
    df['<DATETIME>'] = pd.to_datetime(df['<DATE>'] + ' ' + df['<TIME>'])
    df = df[['<DATETIME>','<OPEN>', '<HIGH>', '<LOW>', '<CLOSE>']]
    df_renamed = df.rename(columns={"<DATETIME>":"time", "<OPEN>":"open", "<HIGH>":"high", "<LOW>":"low", "<CLOSE>":"close"})
    df_renamed.set_index('time', inplace=True)
    return df_renamed

In [45]:
m5_data = prep_data(m5_data_path)
m1_data = prep_data(m1_data_path)

In [47]:
m1_data

                        open     high      low    close
time
2024-03-11 01:00:00  18024.7  18027.4  18023.8  18023.9
2024-03-11 01:01:00  18025.3  18027.3  18008.2  18024.8
2024-03-11 01:02:00  18024.4  18025.4  18008.7  18008.9
2024-03-11 01:03:00  18009.3  18013.6  18000.8  18002.3
2024-03-11 01:04:00  18002.8  18004.3  17983.4  17984.8
...                      ...      ...      ...      ...
2024-03-19 23:55:00  18071.4  18071.4  18066.2  18066.8
2024-03-19 23:56:00  18066.9  18066.9  18064.0  18064.5
2024-03-19 23:57:00  18064.4  18065.0  18062.7  18063.1
2024-03-19 23:58:00  18063.5  18067.0  18063.0  18064.0
2024-03-19 23:59:00  18064.7  18066.2  18064.7  18066.0

[9660 rows x 4 columns]